body {
    font-family: Arial, sans-serif;
    margin: 0;
    max-width: 1400px;
    padding: 0 20px;
    background-color: #f0f0f0;
}

header {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 40px;
    color: #007acc;
    margin: 0;
}

header p {
    font-size: 20px;
}

.visualization {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.title-left {
    text-align: left;
    margin-bottom: 30px;
}

.title-left h2 {
    font-size: 30px;
    color: #007acc;
    font-weight: bold;
}

.visualization h2 {
    font-size: 30px;
}

.visualization-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.explanation {
    flex: 1;
    padding: 20px;
}

.chart-container > div {
    flex: 1;   
}

.highlight {
    font-size: 20px; 
    font-weight: bold;
}
